@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.navb {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar {
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  z-index: 1;
}
.menu {
  display: none;
  cursor: pointer;
}
.logo {
  width: 140px;
  margin-top: 10px;
}
nav {
  flex: 1;
  text-align: center;
}
nav ul li {
  list-style: none;
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
nav ul li a {
  text-decoration: none;
}
#menuList {
  display: none;
}

.imagebg {
  width: 100%;
  height: 1100px;
  position: absolute;
  background: url(image/bg.webp) no-repeat fixed center;
  background-size: cover;
}
.imagebg2 {
  height: 1100px;
  margin-top: 40px;
  position: absolute;
  transform: translateX(20px);
}
.col-1 {
  height: 1000px;
  width: 100%;
  margin-top: 990px;
  position: absolute;
  background: white;
  text-align: center;
}
.me {
  width: 100%;
  height: 400px;
  background-color: #1db9c3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profil {
  height: 200px;
  border: solid white 10px;
  border-radius: 50%;
}
.row .profil {
  margin: 20px 20px;
}
.row-1,
img {
  margin: 20px 20px;
}
.me h2 {
  color: white;
}

.about {
  text-align: center;
  padding: 50px 510px;
}
.gallery {
}
@media only screen and (max-width: 1230px) {
  .imagebg2 {
    width: 90%;
    height: auto;
    transform: translateX(5px);
  }
  .navb {
    justify-content: flex-start;
  }
  nav .menu-2 {
    justify-content: center;
  }
  .col-1 {
    margin-top: 75%;
  }
  .row {
    align-items: center;
  }
  .row .profil {
    margin: 10px 10px;
  }
  .row-1,
  img {
    margin: 10px 10px;
  }
  .about {
    padding: 60px 120px;
  }
}
@media only screen and (max-width: 800px) {
  nav ul {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 62px;
    right: 0;
    z-index: 2;
    align-items: flex-end;
  }
  .navbar {
    display: flex;
    align-items: flex-start;
  }
  .menu-2 {
    display: none;
  }
  .menu {
    display: block;
  }

  .row .profil {
    margin: 2px 2px;
  }
  .row-1,
  img {
    margin: 2px 2px;
  }
  #menuList {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 400px) {
  .menu {
    display: block;
  }
  .row {
    flex-direction: column;
  }

  .me {
    height: 450px;
  }
  .me h2 {
    margin-top: 20px;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
}
